@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: theme('colors.gold');
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0E0E0E;
}

::-webkit-scrollbar-thumb {
    background: theme('colors.gold');
    border-radius: 10px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.error{
    background: 
      radial-gradient(farthest-side at -33.33% 50%,#0000 52%,rgba(204, 161, 53, 0.29) 54% 57%,#0000 59%) 0 calc(128px/2),
      radial-gradient(farthest-side at 50% 133.33%,#0000 52%,rgba(204, 161, 53, 0.29) 54% 57%,#0000 59%) calc(128px/2) 0,
      radial-gradient(farthest-side at 133.33% 50%,#0000 52%,rgba(204, 161, 53, 0.29) 54% 57%,#0000 59%),
      radial-gradient(farthest-side at 50% -33.33%,#0000 52%,rgba(204, 161, 53, 0.29) 54% 57%,#0000 59%),
      #1c1817;
background-size: calc(128px/4.667) 128px,128px calc(128px/4.667);

}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}
