@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: theme('colors.gold');
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0E0E0E;
}

::-webkit-scrollbar-thumb {
    background: theme('colors.gold');
    border-radius: 10px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}
